@model IEnumerable<L01PO2_2020CD603.Models.Calificaciones>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.publicacionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuarioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.calificacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.publicacionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuarioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.calificacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.calificacionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.calificacionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.calificacionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
